
            <%= form_tag nil, class: 'form-signin text-center' do %>
            <%= image_tag 'logo.png', class: "sigin-img" %>

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                <%= label_tag :username,nil, class:"sr-only"%>
                <%= text_field_tag :username, nil, class: "form-control" %>

                <%= label_tag :password, nil, class:"sr-only" %><br>
                <%= password_field_tag :password, nil, class: "form-control"  %><br>
                <%= submit_tag "Submit", class:"btn btn-lg btn-primary btn-block"%>
            <% end %>
            <div class="container">
              <style>

              .width {
                 /* These two lines are counted as one :-)       */
                 width: 100%;
                 max-width: 300px;
                 padding: 10px;
                 margin: auto;

              }
              </style>
            <a class=" shadow width btn btn-m btn-primary btn-block" href="<%="http://localhost:3000/users/new"%>" role="button">Sign Up</a>
            </p>
          </div>
