<div class="text-center">
  <br><br><br><br>
<%= form_tag "/result", class: 'form-signin text-center', method: :post, id: "play_form" do |f| %>
  <h1 class="display-7"><%= @challenge.trial %></h1>
  <%= hidden_field_tag :id, "#{@challenge.id}" %>
  <h6><%= @challenge.description %></h6>
  <%= label_tag :regex, nil, class:"sr-only" %><br>
  <p><%= text_field_tag :regex, nil, class: "form-control shadow p-3",
    placeholder: "              / enter regex here! /  " %></p>
  <button type="submit" class="btn btn-lg btn-primary btn-block"> Submit </button>
  <span id="time"></span>
  <input type="hidden" name="time_left" id="time_left" value"45">
<%end%>
</div>
