<div class="text-center">
  <br><br><br><br>
<%= form_tag "/result", class: 'form-signin text-center', method: :post do |f| %>
  <h1 class="display-7"><%= @challenge.trial %></h1>
  <%= hidden_field_tag :id, "#{@challenge.id}" %>
  <h6><%= "Description: Do The thing" %></h6>
  <%= label_tag :regex, nil, class:"sr-only" %><br>
  <p><%= text_field_tag :regex, nil, class: "form-control",
    placeholder: "/ enter regex here! /" %></p>
  <button type="submit" class="btn btn-lg btn-primary btn-block"> Submit </button>
<%end%>
</div>
