<style>
.width {
   width: 100%;
   max-width: 800px;
   padding: 15px;
   margin: auto;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}
</style>

<br>

<div class="width">
<div class="jumbotron ">
  <div class="container">
    <%= form_for @user, :url => user_path(@user)do |f| %>
      <h1 class="display-2"><%= f.label :name %></h1>
      <br>
      <%= f.text_field :name, class: "form-control" %>
      <hr class="my-3">
      <h1 class="display-7"><%= f.label :username %><br></h1>
      <%= f.text_field :username, class: "form-control" %><br>
      <h1 class="display-8"><%= f.label :email %><br></h1>
      <%= f.text_field :email,  class: "form-control" %><br>
      <%= f.submit "Update", class:"btn btn-success btn-m" %>
    <% end %>
    <br>
    <%= form_tag user_path(@user), method: "delete" do %>
      <%= submit_tag "Delete User", class:"btn btn-danger btn-m" %>
    <% end %>
  </div>
</div>
</div>
